.flashcards {
  display: flex;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right:10px;
  padding-left: 10px;
  width: 80%;
  margin-left: 10px;
  flex-direction: column;
}

.flashcards-row {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.flashcards-p {
  font-family: 'Lato', sans-serif;
font-size: 20px;
  text-align: center;
}

.firstPair{
  padding-block: 20px;
  display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;  
 
}

.secondPair{
  padding-block: 10px;
  display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;  
}

.thirdPair{
  padding-block: 10px;
  display: flex;
  flex-wrap: wrap;
	justify-content: space-around;
	align-items: center; 
}

.fourthPair{
  padding-block: 10px;
  display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;  
}
.flipcards{ 
  padding-block: 50px;
  display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
} 

 .flipcards2{
  display:flex;
  flex-wrap: nowwrap; 
  flex-direction:row ; 
}

img {
  height: 350px;
  width: 350px;
  object-fit: cover;
}




h4 {
  margin-left: 20px;
}



h1 {
  margin-top: 130px
}

h2 {
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  font-size: 180%;
}

h3 {
  margin-top: 10px;
  margin-left:20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 130%;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  padding: -20px;
  perspective: 1000px;
	 display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}



.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
	border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
	border-radius: 10px; /* to make a circle-shaped card */
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #a8e4a0;
  color: black;
}

.flip-card-back {
  background-color: #baebbd;
  color: black;
  font-size: 30px;
	display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transform: rotateY(180deg);
}

.banner {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 0;
}

.listenNoRead{
  display: flex;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right:10px;
  padding-left: 10px;
  width: 80%;
  margin-left: 10px;
  flex-direction: column;
}

.listenNoRead-row {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.listenNoRead-p {
  font-family: 'Lato', sans-serif;
font-size: 20px;
}

h2 {
  font-family: 'Lato', sans-serif;
font-size: 35px;
font-weight: bold;
border-left: 10px;
}

.audioBook{
  display: flex;
  justify-content: center;
}

.audioBookImage {
  height: 200px;
  object-fit: cover;
}

.highlight{
  display: flex;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right:10px;
  padding-left: 10px;
  width: 80%;
  margin-left: 10px;
  flex-direction: column;
}

.highlight-row {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.highlight-p {
  font-family: 'Lato', sans-serif;
font-size: 20px;
}

.highlightPic{
  display: flex;
  justify-content: center;
}

.highlightImage {
  height: 200px;
  object-fit: cover;
  margin-bottom: 2%;
}
